.menu-bar{
	width: 100%;
	display: inline-flex;
	background: green;
}

.menu-bar ul{
	display: inline-flex;
	list-style: none;
	color: white;
}


.menu-bar-left{
	width: 100%;
	text-align: left;
}

.menu-bar-left ul li{
	width: 80%;
	margin-right: 40px;
	transition: 0.5s;
}

.menu-bar-left ul li a{
	text-transform: uppercase;
	text-decoration: none;
	color: white;
}


.navbar{
	width: 100%;
	text-align: right;
}

.navbar ul li{
	width: 80%;
	margin-right: 40px;
	transition: 0.5s;
}

.navbar ul li a{
	text-transform: uppercase;
	text-decoration: none;
	color: white;
}

.navbar ul li:hover{
	background: #2bab0d;
	border-radius: 3px;
	/*border: 3px solid #2bab0d;*/
}

button{
	margin-top: 40px;
	width: 40%;
	text-transform: uppercase;
	padding: 10px 20px;
	background: transparent;
	border: 2px solid green;
	border-radius: 30px;
	transition: 0.5s;
}

button:hover{
	/*width: 100%;
	padding: 40px 20px;*/
	background: lightgreen;
}

img{
	margin-top: 0px;
	margin-right: 3%;
	margin-left: 3%;
	border-radius: 10px;
	width: 200px;
	transition: 0.5s;
}

.img-pop{
	display: inline-flex;
	margin-top: 10px;
	padding-top: 30px;
	text-align: center;
	/*border: 2px solid red;*/
}

.price{
	width: 100%;
}

.price ul{
	width: 100%;
	list-style: none;
	
}

.price ul li{
	
	padding: 5px;
	margin-right: 40px;
	border: 2px solid green;
	border-radius: 10px;
	transition: 0.5s;
}

.price li:hover{
	background: green;
	color: white;
}

img:hover{
	margin-top: -30px;
	margin-bottom: 30px;
}


@media screen and (max-width: 600px) {

	.img-pop{
	display: inline-block;
  }

  button{
  	width: 100%
  }
.menu-bar ul{
	display: inline-block;
	list-style: none;
	color: white;
}
  .navbar ul li{
	width: `100%;
	margin-right: 10px;
  }

}
