button{
	margin-top: 30px;
	margin-bottom: 30px;
	width: 40%;
	text-transform: uppercase;
	padding: 10px 20px;
	color:#0082e6;
	background: transparent;
	border: 2px solid #0082e6;
	border-radius: 30px;
	transition: 0.5s;
}

button:hover{
	/*width: 100%;
	padding: 40px 20px;*/
	color:white;
	background: #8bbae0;
}

img{
	border-radius: 10px;
	width: 250px;
	transition: 0.5s;
}

.img-pop{
	margin-top:1px;
	width: 100%;
	text-align: center;
}

.price{
	
	display: inline-flex;
	text-align: center;
}

.price ul{
	margin-top: 30px;
	list-style: none;
	padding: 1px;
	margin:20px;
	border: 2px solid #0082e6;
	border-radius: 10px;
	transition: 0.5s;
}

/*.price ul li{
	
	padding: 5px;
	border: 2px solid green;
	border-radius: 10px;
}*/

.price ul li:hover{
	background: #0082e6;
	border-radius:10px;
	color: white;
}

img:hover{
	margin-top: -30px;
	margin-bottom: 30px;
}

@media screen and (max-width: 800px) {

	.price{
	display: inline-flex;
	flex-direction: column;
  }

  button{
  	width: 75%;
  }

  .button-fast{
  	margin-top: 110px;
  }

}


@media screen and (max-width: 600px) {

	.price{
	display: inline-block;
  }

  button{
  	width: 100%
  }
.menu-bar ul{
	display: inline-block;
	list-style: none;
	color: white;
}
  .navbar ul li{
	width: `100%;
	margin-right: 10px;
  }

	img{
  	width:100%;
  }
}