fieldset{
	border: 2px solid #0082e6;
	border-radius: 10px;
}

.price{
	border: 2px solid #0082e6;
	border-radius: 10px;
	margin-top: 20px;
	padding: 10px;
}

.button-style{
	text-align:center;
	margin-top:40px;
}

.button-style1{
	text-align:center;
	margin-top:10px;
}

.price li{
	list-style:none;
	padding:4px;
}

.text-1{
	font-size: 25px;
	font-weight:bold;
}

.text-2{
	font-size:20px;
	margin-left:10px;
	margin-right:10px;
	color:#b1b0b0;
}

.text-3{
	font-size:22px;
	color:#01c101;
}

 button{
	background:white;
	border: 2px solid #0082e6;
	padding: 10px 20px;
	width: 40%;
	border-radius: 50px;
	color:#0082e6;
	text-transform: uppercase;
	transition:0.5s;
}

button:hover{
	background:#0082e6;
	color: white;
}

img{
	border-radius:30px;
	padding:20px;
}

.in-style{
	text-align:center;
	margin-top: 40px;
}

input[type = text]{
	padding: 10px 20px;
	width: 35%;
	border-radius:50px;
	color:#0082e6;
	font-weight:bold;
	font-size:15px;
	border: 2px solid #0082e6;
}

::placeholder{
	color:#0082e6;
}

input[type = text]:focus{
	background:#0082e6;
	border: 2px solid #0082e6;
	color:white;
}

.name101{
	text-align:center;
	color:blue;
	font-size: 30px;
	font-weight:bold;
	text-transform:uppercase;
	margin-bottom:200px;
}

@media (max-width: 800px){
	button{
		width:100%;
	}
	
	input[type = text]{
	    width:85%;
    }
}

@media (max-width: 430px){
	.button-style button{
		width:100%;
	}

	img{
	    width:100%;
	    padding: 0px;
    }
}
